.BAYCREEK-A{ fill: #3333ff; }
.BAYCREEK-B{ fill: #3333ff; }
.BAYCREEK-C{ fill: #0fb454; }
.BAYCREEK-D{ fill: #3333ff; }
.BAYCREEK-E{ fill: #3333ff; }
.BAYCREEK-F{ fill: #3333ff; }
.BAYCREEK-G{ fill: #3333ff; }
.BAYCREEK-H{ fill: #3333ff; }
.BAYCREEK-I{ fill: #3333ff; }
.BAYCREEK-J{ fill: #3333ff; }
.BAYCREEK-K{ fill: #3333ff; }
.BERKSHIRE-A{ fill: #be269e; }
.BERKSHIRE-B{ fill: #be269e; }
.BERKSHIRE-D{ fill: #be269e; }
.BERKSHIRE-E{ fill: #be269e; }
.BERKSHIRE-F{ fill: #be269e; }
.BERKSHIRE-G{ fill: #be269e; }
.BERKSHIRE-H{ fill: #be269e; }
.BERKSHIRE-J{ fill: #be269e; }
.BERKSHIRE-L{ fill: #be269e; }
.BERKSHIRE-M{ fill: #be269e; }
.BERKSHIRE-N{ fill: #be269e; }
.BERKSHIRE-O{ fill: #33ff33; }
.BERKSHIRE-P{ fill: #be269e; }
.BERKSHIRE-Q{ fill: #be269e; }
.CATES-A{ fill: #3333ff; }
.CATES-B{ fill: #33ff33; }
.CATES-C{ fill: #3333ff; }
.CATES-D{ fill: #3333ff; }
.CATES-E{ fill: #3333ff; }
.CATES-F{ fill: #3333ff; }
.CATES-G{ fill: #3333ff; }
.CATES-H{ fill: #3333ff; }
.CATES-I{ fill: #33ff33; }
.CATES-J{ fill: #3333ff; }
.CATES-K{ fill: #33ff33; }
.CATES-L{ fill: #3333ff; }
.CATES-M{ fill: #33ff33; }
.CATES-N{ fill: #3333ff; }
.CATES-O{ fill: #33ff33; }
.DACULA{ fill: #0fb454; }
.DULUTH-A{ fill: #f0ed4f; }
.DULUTH-B{ fill: #f0ed4f; }
.DULUTH-C{ fill: #f0ed4f; }
.DULUTH-D{ fill: #f0ed4f; }
.DULUTH-E{ fill: #f0ed4f; }
.DULUTH-F{ fill: #33ff33; }
.DULUTH-G{ fill: #f0ed4f; }
.DULUTH-H{ fill: #f0ed4f; }
.DULUTH-I{ fill: #f0ed4f; }
.DULUTH-K{ fill: #f0ed4f; }
.DUNCANS-A{ fill: #0fb454; }
.DUNCANS-B{ fill: #0fb454; }
.DUNCANS-C{ fill: #0fb454; }
.DUNCANS-D{ fill: #0fb454; }
.GARNERS-A{ fill: #be269e; }
.GARNERS-B{ fill: #3333ff; }
.GARNERS-C{ fill: #be269e; }
.GARNERS-D{ fill: #3333ff; }
.GARNERS-F{ fill: #be269e; }
.GOODWINS-A{ fill: #33ff33; }
.GOODWINS-B{ fill: #33ff33; }
.GOODWINS-C{ fill: #33ff33; }
.GOODWINS-D{ fill: #33ff33; }
.GOODWINS-E{ fill: #33ff33; }
.GOODWINS-F{ fill: #f0ed4f; }
.GOODWINS-G{ fill: #33ff33; }
.GOODWINS-H{ fill: #f0ed4f; }
.GOODWINS-I{ fill: #33ff33; }
.HARBINS-A{ fill: #0fb454; }
.HARBINS-B{ fill: #0fb454; }
.HARBINS-C{ fill: #0fb454; }
.HOG-MOUNTAIN-A{ fill: #f0ed4f; }
.HOG-MOUNTAIN-B{ fill: #0fb454; }
.HOG-MOUNTAIN-C{ fill: #0fb454; }
.HOG-MOUNTAIN-D{ fill: #0fb454; }
.LAWRENCEVILLE-A{ fill: #33ff33; }
.LAWRENCEVILLE-B{ fill: #3333ff; }
.LAWRENCEVILLE-C{ fill: #0fb454; }
.LAWRENCEVILLE-D{ fill: #33ff33; }
.LAWRENCEVILLE-E{ fill: #33ff33; }
.LAWRENCEVILLE-F{ fill: #3333ff; }
.LAWRENCEVILLE-G{ fill: #33ff33; }
.LAWRENCEVILLE-H{ fill: #33ff33; }
.LAWRENCEVILLE-I{ fill: #33ff33; }
.LAWRENCEVILLE-J{ fill: #33ff33; }
.LAWRENCEVILLE-K{ fill: #0fb454; }
.LAWRENCEVILLE-L{ fill: #3333ff; }
.LAWRENCEVILLE-M{ fill: #0fb454; }
.LAWRENCEVILLE-N{ fill: #33ff33; }
.MARTINS-A{ fill: #33ff33; }
.MARTINS-B{ fill: #33ff33; }
.MARTINS-C{ fill: #33ff33; }
.MARTINS-D{ fill: #33ff33; }
.MARTINS-E{ fill: #33ff33; }
.MARTINS-F{ fill: #f0ed4f; }
.MARTINS-G{ fill: #33ff33; }
.MARTINS-H{ fill: #33ff33; }
.MARTINS-I{ fill: #33ff33; }
.MARTINS-J{ fill: #33ff33; }
.MARTINS-K{ fill: #33ff33; }
.PINCKNEYVILLE-A1{ fill: #f0ed4f; }
.PINCKNEYVILLE-B{ fill: #be269e; }
.PINCKNEYVILLE-C{ fill: #f0ed4f; }
.PINCKNEYVILLE-D{ fill: #be269e; }
.PINCKNEYVILLE-E{ fill: #be269e; }
.PINCKNEYVILLE-F{ fill: #be269e; }
.PINCKNEYVILLE-H{ fill: #f0ed4f; }
.PINCKNEYVILLE-I{ fill: #f0ed4f; }
.PINCKNEYVILLE-J{ fill: #be269e; }
.PINCKNEYVILLE-K{ fill: #be269e; }
.PINCKNEYVILLE-L{ fill: #f0ed4f; }
.PINCKNEYVILLE-M{ fill: #be269e; }
.PINCKNEYVILLE-N{ fill: #be269e; }
.PINCKNEYVILLE-O{ fill: #be269e; }
.PINCKNEYVILLE-P{ fill: #f0ed4f; }
.PINCKNEYVILLE-Q{ fill: #f0ed4f; }
.PINCKNEYVILLE-S{ fill: #be269e; }
.PINCKNEYVILLE-T{ fill: #be269e; }
.PINCKNEYVILLE-U{ fill: #be269e; }
.PINCKNEYVILLE-V{ fill: #be269e; }
.PINCKNEYVILLE-W{ fill: #be269e; }
.PINCKNEYVILLE-X{ fill: #be269e; }
.PINCKNEYVILLE-Y{ fill: #be269e; }
.PINCKNEYVILLE-Z{ fill: #f0ed4f; }
.PINKCNEYVILLE-A{ fill: #be269e; }
.PUCKETTS-A{ fill: #0fb454; }
.PUCKETTS-B{ fill: #0fb454; }
.PUCKETTS-C{ fill: #0fb454; }
.PUCKETTS-D{ fill: #0fb454; }
.PUCKETTS-E{ fill: #0fb454; }
.ROCKBRIDGE-A{ fill: #3333ff; }
.ROCKBRIDGE-B{ fill: #3333ff; }
.ROCKBRIDGE-C{ fill: #3333ff; }
.ROCKBRIDGE-D{ fill: #3333ff; }
.ROCKBRIDGE-E{ fill: #3333ff; }
.ROCKBRIDGE-F{ fill: #3333ff; }
.ROCKBRIDGE-G{ fill: #3333ff; }
.ROCKYCREEK-A{ fill: #0fb454; }
.ROCKYCREEK-B{ fill: #0fb454; }
.ROCKYCREEK-C{ fill: #0fb454; }
.SUGAR-HILL-A{ fill: #0fb454; }
.SUGAR-HILL-B{ fill: #f0ed4f; }
.SUGAR-HILL-C{ fill: #f0ed4f; }
.SUGAR-HILL-D{ fill: #0fb454; }
.SUGAR-HILL-E{ fill: #0fb454; }
.SUGAR-HILL-F{ fill: #f0ed4f; }
.SUGAR-HILL-G{ fill: #f0ed4f; }
.SUWANEE-A{ fill: #f0ed4f; }
.SUWANEE-B{ fill: #f0ed4f; }
.SUWANEE-C{ fill: #f0ed4f; }
.SUWANEE-D{ fill: #f0ed4f; }
.SUWANEE-E{ fill: #f0ed4f; }
.SUWANEE-F{ fill: #f0ed4f; }
.SUWANEE-G{ fill: #f0ed4f; }
.SUWANEE-H{ fill: #f0ed4f; }
